.App {
  text-align: center;
}

.heading { 
  font-size: 25px;  
  font-weight: 600; 
  margin-top: 15px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}